extends ../layout/layout.pug
block title
    title.text-capitalize abdev
block content

    //- main header
    header.home-header
        include ../includes/navbar.pug
        .banner.d-flex.flex-column.justify-content-center.bg-light
            .banner-text.container
                h1.text-capitalize welcome to abdou <span>dev</span> wepblog signup to join our community
                .buttons.d-flex.align-items-center.mt-4
                    a(href="/signup").shadow-sm.d-flex.align-items-center.justify-content-center.text-decoration-none.text-capitalize signup
                    a(href="/login").shadow-sm.d-flex.align-items-center.justify-content-center.text-decoration-none.text-capitalize.ml-3 login